// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: Satisfy;
}

@font-face {
    font-family: Satisfy;
    font-weight: bold;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
}

body {
    background-color: black;
}

a {
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }
}

div.t1 {
    margin-top: 53px;
    margin-left: 33px;
}

div.t2 {
    font-family: 'Satisfy' ;
    font-size: xx-large;
    position: absolute;
    bottom: -20px;
    margin-right: 17px;
    margin-left: 17px;
}
