.align-right {
  position: absolute;
  right: 15px;
}

input#event_number {
  width: 37px;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-squares span {
  display: block;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  width: 20px;
  height: 20px;
  background-color: #3498db;
}

#loader-squares span:nth-child(2) {
  -webkit-animation: moveanimation1 1s ease-in-out infinite;
          animation: moveanimation1 1s ease-in-out infinite;
}

#loader-squares span:nth-child(3) {
  -webkit-animation: moveanimation2 1s ease-in-out infinite;
          animation: moveanimation2 1s ease-in-out infinite;
}

#loader-squares span:nth-child(4) {
  -webkit-animation: moveanimation3 1s ease-in-out infinite;
          animation: moveanimation3 1s ease-in-out infinite;
}

@-webkit-keyframes moveanimation1 {
  0%, 100% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(30px);
  }
}

@keyframes moveanimation1 {
  0%, 100% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(30px);
  }
}

@-webkit-keyframes moveanimation2 {
  0%, 100% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(30px);
  }
}

@keyframes moveanimation2 {
  0%, 100% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(30px);
  }
}

@-webkit-keyframes moveanimation3 {
  0%, 100% {
    transform: translate(0px, 0px);
  }

  75% {
    transform: translate(30px, 30px);
  }
}

@keyframes moveanimation3 {
  0%, 100% {
    transform: translate(0px, 0px);
  }

  75% {
    transform: translate(30px, 30px);
  }
}

